/* GenreSelect.css */

.genre-select-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

.genre-option {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: black;
    transition: all 0.3s ease;
}

.genre-option.active {
    background-color: red;
    color: #fff;
    border-color: #007bff;
}

.genre-option:hover {
    background-color: #e0e0e0;
}