/* SearchForm.css */

.search-form-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.search-input {
    width: 65%;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 3rem;
    margin-left: 12rem;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.search-button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}