.delete-btn {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.cancel-btn {
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.delete-movie-dialog p {
    color: red;
}